.navbar{
    background-color: rgb(247, 238, 227);
}
.d-flex .form-control{  
    width: 400px ;
}
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.card .card-body .card-text{
    opacity: 0.5;
    /* text-decoration: line-through; */
}
.card .card-img-top{
    border-radius: 15px;
    margin: 5px 5px 0 5px;
    width: 275px;
    height: 200px;
    
}
.card{
    border-radius: 15px;
    box-shadow: 12px 12px 2px 1px rgba(141, 140, 140, 0.1); 
    border: 2px solid black;
    margin-top: 30px;
    transition-duration: 0.5s;
}
.container{
    /* background-color: brown; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 60px;
}
.container-block .text-center .blockquote{
    
    padding-top: 90px;
    
}
.container-block .text-center .blockquote .blockquote-footer{
    padding-top: 95px;
    
}
.card:hover{
    box-shadow: 16px 16px 2px 1px rgba(141, 140, 140, 0.5);
}
.card .card-body .btn{
    border-radius: 20px;
}
.collapse .d-flex .btn{
    border-radius: 20px;
}
.collapse .d-flex .form-control{
    border-radius: 20px;
}

